[Desktop Entry]
Version=1.0
Type=Application
Name=FFConverter
Comment=Simple Video, Audio, and Image Converter
GenericName=Media Converter
Exec=/usr/share/ffconverter/run.sh %F
Terminal=false
Categories=AudioVideo;Audio;Video;Graphics;
Keywords=convert;video;audio;image;ffmpeg;media;
MimeType=video/*;audio/*;image/*;
Icon=/usr/share/icons/hicolor/256x256/apps/ffconverter.png
StartupNotify=true