#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	# Create directories
	mkdir -p debian/ffconverter/usr/share/ffconverter
	mkdir -p debian/ffconverter/usr/share/applications
	mkdir -p debian/ffconverter/usr/share/icons/hicolor/256x256/apps
	mkdir -p debian/ffconverter/usr/bin
	
	# Copy files
	cp ffc.py debian/ffconverter/usr/share/ffconverter/
	cp run.sh debian/ffconverter/usr/share/ffconverter/
	cp LICENSE debian/ffconverter/usr/share/ffconverter/
	cp usr/share/applications/ffconverter.desktop debian/ffconverter/usr/share/applications/
	cp usr/share/icons/hicolor/256x256/ffconverter.png debian/ffconverter/usr/share/icons/hicolor/256x256/apps/
	
	# Create wrapper
	echo '#!/bin/bash' > debian/ffconverter/usr/bin/ffconverter-run
	echo 'python3 /usr/share/ffconverter/ffc.py "$@"' >> debian/ffconverter/usr/bin/ffconverter-run
	chmod +x debian/ffconverter/usr/bin/ffconverter-run